<!doctype html>

<html class="no-js" lang="">
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Dsign - smc jump page</title>
    <link rel="stylesheet" href="/statics/css/bootstrap.min.css">
    <link rel="stylesheet" href="/statics/css/flexslider.css">
    <link rel="stylesheet" href="/statics/css/jquery.fancybox.css">
    <link rel="stylesheet" href="/statics/css/main.css">
    <link rel="stylesheet" href="/statics/css/responsive.css">
    <link rel="stylesheet" href="/statics/css/animate.min.css">
    <link rel="stylesheet" href="/statics/css/font-icon.css">
    <style>
        .clearfix:after{
            content: '.';
            clear: both;
            display: block;
            visibility: hidden;
            height: 0;
        }
    </style>

</head>

<body>

    <div class="container" style="background-color: black;border-radius:25px 10px 50px 10px">
        <h2 style="text-align: center;color: white"><b>欢迎登陆 <small style="color: honeydew">内部跳转页</small></b></h2>

    </div>
    <div class="container">    <hr/></div>

    <div class="container clearfix" style="height: 120px">
        <h3 style="float: left;text-align: center;width: 350px;padding-top: 20px">zabbix 跳转页</h3>
          <div class="col-lg-2 col-md-6 col-sm-6 work"><a href="http://192.168.2.193/zabbix" target="_blank" class="work-box"> <img src="/statics/images/work-3.jpg" alt="">

              <div class="overlay">
                  <div class="overlay-caption">
                    <h5>西山机房zabbix监控</h5>
                    <p><i class="fa fa-search-plus fa-2x"></i></p>
                  </div>
                </div>
                <!-- overlay -->
                </a>
          </div>

        <div class="col-lg-2 col-md-6 col-sm-6 work"><a href="http://123.58.16.198/zabbix" target="_blank" class="work-box"> <img src="/statics/images/work-3.jpg" alt=
"">

              <div class="overlay">
                  <div class="overlay-caption">
                    <h5>IDC环境zabbix监控</h5>
                    <p><i class="fa fa-search-plus fa-2x"></i></p>
                  </div>
                </div>
                <!-- overlay -->
                </a>
          </div>

        <div class="col-lg-2 col-md-6 col-sm-6 work"><a href="http://192.168.2.183/zabbix" target="_blank" class="work-box"> <img src="/statics/images/work-3.jpg" alt="">

              <div class="overlay">
                  <div class="overlay-caption">
                    <h5>各企业平台zabbix监控</h5>
                    <p><i class="fa fa-search-plus fa-2x"></i></p>
                  </div>
                </div>
                <!-- overlay -->
                </a>
          </div>


        <div class="col-lg-2 col-md-6 col-sm-6 work"><a href="http://192.168.6.125/zabbix" target="_blank" class="work-box"> <img src="/statics/images/work-3.jpg" alt=
"">

              <div class="overlay">
                  <div class="overlay-caption">
                    <h5>办公环境平台zabbix监控</h5>
                    <p><i class="fa fa-search-plus fa-2x"></i></p>
                  </div>
                </div>
                <!-- overlay -->
                </a>
          </div>

    </div>


    <div class="container">        <hr/></div>

    <div class="container clearfix" style="height: 120px">
        <h3 style="float: left;text-align: center;width: 350px;padding-top: 20px">jumpserver 跳转页</h3>
          <div class="col-lg-2 col-md-6 col-sm-6 work"><a href="http://192.168.2.182/login/" target="_blank" class="work-box"> <img src="/statics/images/work-1.jpg" alt="">

              <div class="overlay">
                  <div class="overlay-caption">
                    <h5>西山机房堡垒机</h5>
                    <p><i class="fa fa-search-plus fa-2x"></i></p>
                  </div>
                </div>
                <!-- overlay -->
                </a>
          </div>

          <div class="col-lg-2 col-md-6 col-sm-6 work"><a href="http://123.58.16.198:17553/login/" target="_blank" class="work-box"> <img src="/statics/images/work-1.jpg" alt="">

              <div class="overlay">
                  <div class="overlay-caption">
                    <h5>IDC机房堡垒机</h5>
                    <p><i class="fa fa-search-plus fa-2x"></i></p>
                  </div>
                </div>
                <!-- overlay -->
                </a>
          </div>
    </div>
    <div class="container">        <hr/></div>

    <div class="container clearfix" style="height: 120px">
        <h3 style="float: left;text-align: center;width: 350px;padding-top: 20px">cdh 跳转页</h3>
          <div class="col-lg-2 col-md-6 col-sm-6 work"><a href="http://192.168.1.56:7180/cmf/login" target="_blank" class="work-box"> <img src="/statics/images/work-6.jpg" alt="">

              <div class="overlay">
                  <div class="overlay-caption">
                    <h5>cdh 测试平台</h5>
                    <p><i class="fa fa-search-plus fa-2x"></i></p>
                  </div>
                </div>
                <!-- overlay -->
                </a>
          </div>
        <div class="col-lg-2 col-md-6 col-sm-6 work"><a href="http://192.168.2.150:7180/cmf/login" target="_blank" class="work-box"> <img src="/statics/images/work-6.jpg" alt="">

              <div class="overlay">
                  <div class="overlay-caption">
                    <h5>cdh 压测平台</h5>
                    <p><i class="fa fa-search-plus fa-2x"></i></p>
                  </div>
                </div>
                <!-- overlay -->
                </a>
          </div>
        <div class="col-lg-2 col-md-6 col-sm-6 work"><a href="http://192.168.2.70:7180/cmf/login" target="_blank" class="work-box"> <img src="/statics/images/work-6.j
pg" alt="">
                
              <div class="overlay">
                  <div class="overlay-caption">
                    <h5>cdh 线上平台</h5>
                    <p><i class="fa fa-search-plus fa-2x"></i></p>
                  </div>
                </div>
                <!-- overlay -->
                </a>
          </div>

    </div>

    <div class="container">        <hr/></div>

    <div class="container clearfix" style="height: 120px">
        <h3 style="float: left;text-align: center;width: 350px;padding-top: 20px">漏洞扫描</h3>
          <div class="col-lg-2 col-md-6 col-sm-6 work"><a href="https://192.168.2.154:9392/omp?r=1&token=b97065ee-2b28-4a7d-a6fa-95623dee9f79" target="_blank" class="work-box"> <img src="/statics/images/work-4.
jpg" alt="">

              <div class="overlay">
                  <div class="overlay-caption">
                    <h5>西山环境 openvas</h5>
                    <p><i class="fa fa-search-plus fa-2x"></i></p>
                  </div>
                </div>
                <!-- overlay -->
                </a>                                                                                                                                 
          </div>  
	</div>

    <div class="container">        <hr/></div>
    <div class="container clearfix" style="height: 120px">
        <h3 style="float: left;text-align: center;width: 350px;padding-top: 20px">运维平台</h3>
          <div class="col-lg-2 col-md-6 col-sm-6 work"><a href="http://192.168.6.144" target="_blank" class="work-box"> <img src="/statics/images/work-8.
jpg" alt="">

              <div class="overlay">
                  <div class="overlay-caption">
                    <h5>运维平台</h5>
                    <p><i class="fa fa-search-plus fa-2x"></i></p>
                  </div>
                </div>
                <!-- overlay -->
                </a>
          </div>
        </div>

<footer class="section footer">
  <div class="footer-bottom">
    <div class="container">
      <div class="col-md-12">

        <p>© 2017 All rights reserved. All Rights Reserved<br>
          公司内部专用 跳转页  </p>
      </div>
    </div>
  </div>
</footer>
<!-- footer --> 
<!-- JS FILES --> 
<script src="/statics/js/jquery.min.js"></script>
<script src="/statics/js/bootstrap.min.js"></script>
<script src="/statics/js/jquery.flexslider-min.js"></script>
<script src="/statics/js/jquery.fancybox.pack.js"></script>
<script src="/statics/js/jquery.waypoints.min.js"></script>
<script src="/statics/js/retina.min.js"></script>
<script src="/statics/js/modernizr.js"></script>
<script src="/statics/js/main.js"></script>
</body>
</html>

